@model ProductListViewModel

@foreach (var item in Model.Products)
{
<div>
    <h3>@item.Name</h3>
    <p>@item.Description</p>
    <h4>@item.Price.ToString("c")</h4>
</div>
}

<div 
     page-model="@Model.PagingInfo" 
     page-action="Index" 
     page-classes-enabled="true"
     page-class="btn"
     page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary"
     class="btn-group pull-right m-1"
>
</div>


